.file-container {
  margin-left: 10px;
}

.folder-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #ccc;
  margin: 10px 0px;
  padding: 0px 10px;
  width: 40%;
}

.folder-container button {
  height: 25px;
  margin-left: 20px;
  cursor: pointer;
}
